@font-face {
    font-family: 'SourceHanSans-Light';
    src: url('http://static.itacasa.com/font/SourceHanSansCN-Light.otf') format('opentype');
}

@font-face {
    font-family: 'SourceHanSans-Thin';
    src: url('http://static.itacasa.com/font/SourceHanSansCN-ExtraLight.otf') format('opentype');
}

@font-face {
    font-family: 'SourceHanSans-Medium';
    src: url('http://static.itacasa.com/font/SourceHanSansCN-Normal.otf') format('opentype');
}

@font-face {
    font-family: 'SourceHanSans-Regular';
    src: url('http://static.itacasa.com/font/SourceHanSansCN-Regular.otf') format('opentype');
}

html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
a, img, sub, sup,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
caption, article, aside, canvas, details,
figure, figcaption, footer, header, hgroup,
nav, section, summary, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
}

a {
    text-decoration: none;
    color: #333;
}

ul, ol {
    list-style: none;
}

input {
    border: none;
    outline: none;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #999;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    color: #999;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #999;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #999;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

/* 清除浮动 */
.clearfix:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

.clearfix { /*兼容 IE*/
    zoom: 1;
}

/* 文本省略 */
.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.two-lines {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
}

.three-lines {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
}

/* 修改滚动条样式 */
.scroll {
    overflow-x: hidden;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        display: none;
    }
    &::-webkit-scrollbar-track {
        border-radius: 2px;
        background-color: #f8f8f8;
    }
    &::-webkit-scrollbar-thumb {
        background: #DDDDDD;
        border-radius: 2px;
    }
}