.ui-paging-container {
    font-family: SourceHanSans-Light;
    color: #666;
    font-size: 12px;
    margin: auto;
}

.ui-paging-container ul {
    overflow: hidden;
    text-align: center;
}

.ui-paging-container ul, .ui-paging-container li {
    list-style: none;
}

.ui-paging-container li {
    display: inline-block;
    /*padding: 3px 6px;*/
    /*margin-left: 5px;*/
    color: #666;
}

.ui-paging-container li.ui-first,
.ui-paging-container li.ui-last {
    display: none;
}

.ui-paging-container li.ui-prev,
.ui-paging-container li.ui-next {
    box-sizing: border-box;
    width: 56px;
    height: 32px;
    border: 1px solid #EEEEEE;
    padding: 0;
    font-family: SourceHanSans-Light;
    font-size: 12px;
    color: #333333;
    letter-spacing: 0;
    line-height: 32px;
    cursor: pointer;
}

.ui-paging-container li.ui-prev:hover,
.ui-paging-container li.ui-next:hover {
    border: 1px solid #222;
}

.ui-paging-container li.ui-next {
    margin-left: 30px;
}

.ui-paging-container li.ui-pager {
    cursor: pointer;
    margin-left:30px;
    color: #999;
    /*border: 1px solid #ddd;*/
    /*border-radius: 2px;*/
}

.ui-paging-container li.ui-pager:hover{
    font-weight: 700;
    color: #333;
}

.ui-paging-container li.focus,
.ui-paging-container li.focus:hover {
    font-weight: 700;
    /*background-color: #288df0;*/
    color: #D6BD86;
}

.ui-paging-container li.ui-paging-ellipse {
    border: none;
    margin-left:30px;
}

.ui-paging-container li.ui-paging-toolbar {
    padding: 0;
    margin-left: 30px;
    color: #999;
}

.ui-paging-container li.ui-paging-toolbar select {
    height: 22px;
    border: 1px solid #ddd;
    color: #666;
    margin-right: 30px;
    outline: none;
}

.ui-paging-container li.ui-paging-toolbar input {
    line-height: 20px;
    height: 20px;
    padding: 0;
    border: 1px solid #eee;
    text-align: center;
    width: 30px;
    margin: 0 0 0 5px;
    vertical-align: middle;
    background-color: #f4f4f4;
    color: #333;
}

.ui-paging-container li.ui-paging-toolbar a {
    text-decoration: none;
    display: inline-block;
    width: 35px;
    height: 20px;
    border: 1px solid #eee;
    vertical-align: middle;
    line-height: 20px;
    cursor: pointer;
    margin-left: 5px;
    color: #999;
}

.ui-paging-container li.ui-paging-toolbar a:hover {
    border: 1px solid #222;
}

.ui-paging-container li.ui-pager-disabled, .ui-paging-container li.ui-pager-disabled:hover {
    background-color: #f6f6f6;
    cursor: default;
    border: none;
    color: #ddd;
}
