.pick-area {
    display: inline-block;
    position: relative;
    font-size: 14px;
    background: #fff;
    text-decoration: none;
    cursor: default;
}

.pick-show {
    position: relative;
    padding: 0 8px;
    height: 36px;
    line-height: 36px;
    border: 1px solid #dedede;
    border-radius: 3px;;
}

.pick-show span {
    float: left;
    display: inline-block;
    max-width: 100px;
    height: 24px;
    line-height: 24px;
    padding: 0 3px;
    margin-top: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #333;
    cursor: pointer;
}

.pick-show span:hover {
    color: #333 !important;
    border-radius: 3px;
}

.pick-show span.pressActive {
    background: #f8f8f8;
    color: #333 !important;
    border-radius: 3px
}

.pick-show em.pick-arrow {
    position: absolute;
    top: 10px;
    right: 8px;
    display: block;
    width: 16px;
    height: 16px;
    -webkit-background-size: cover;
    background-size: cover;
}

.pick-show em.pick-arrow.down {
    background-image: url('../../img/public/icon/ic-pick-down.png');
}

.pick-show em.pick-arrow.up {
    background-image: url('../../img/public/icon/ic-pick-up.png');
}

.pick-show i {
    float: left;
    display: inline-block;
    padding: 0 3px;
    color: #333;
    font-style: normal;
}

.pick-list {
    display: none;
    position: absolute;
    line-height: 36px;
    margin: 0;
    padding: 0;
    background: #fff;
    z-index: 999999999;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #dedede;
    border-top: none;
}

.pick-list li {
    margin: 0;
    padding-left: 8px;
    list-style: none;
    color: #888;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.pick-list li:hover {
    color: #333;
    font-weight: bold;
}
